<form #animalForm="ngForm" (ngSubmit)="onSubmit(animalForm.form)" *ngIf="model">
  <label for="name">Nom</label>
  <input
    type="text"
    id="name"
    [(ngModel)]="model.name"
    name="name"
    required
    #nameCtrl="ngModel"
  /><br />
  <p *ngIf="animalForm.submitted && nameCtrl.errors?.required">
    Ce champ est requis.
  </p>
  <label for="species">Espèce</label>
  <input
    type="text"
    id="species"
    [(ngModel)]="model.species"
    name="species"
    required
    #speciesCtrl="ngModel"
  /><br />
  <p *ngIf="animalForm.submitted && speciesCtrl.errors?.required">
    Ce champ est requis.
  </p>
  <label for="email">Email</label>
  <input type="text" id="email" [(ngModel)]="model.email" name="email" /><br />
  <label for="phoneNumber">Téléphone</label>
  <input
    type="text"
    id="phoneNumber"
    [(ngModel)]="model.phoneNumber"
    name="phoneNumber"
  /><br />
  <label for="veterinarian">Vétérinaire</label>
  <input
    type="text"
    id="veterinarian"
    [(ngModel)]="model.veterinarian"
    name="veterinarian"
    required
    #vetCtrl="ngModel"
  /><br />
  <p *ngIf="animalForm.submitted && vetCtrl.errors?.required">
    Ce champ est requis.
  </p>
  <label for="comment">Commentaire</label>
  <textarea id="comment" [(ngModel)]="model.comment" name="comment"></textarea
  ><br />
  <button type="submit">Envoyer</button>
</form>
